<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClTeuFByLRrhE9nfG6J_RPobypyv90a9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>745804421317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhilsinha.resportcode</string>
	<key>PROJECT_ID</key>
	<string>resport-app-db</string>
	<key>STORAGE_BUCKET</key>
	<string>resport-app-db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745804421317:ios:7a255edc112d527d5938ac</string>
</dict>
</plist>